<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Служба доставки</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
  </head>
  <body>
    <div class="home-page">
      <section class="home">
        <h1 class="header">Администрирование магазина:</h1>
        <h2 class="subheader">Управление ассортиментом</h2>
        <a href="/menu"><button class="start-btn">Начать работу</button></a>
      </section>
    </div>
  </body>
</html>
