<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Каталог продуктов</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
  </head>
  <body>
    <div class="title-page">
      <div class="header">
        <h1>Каталог продуктов</h1>
      </div>
      <div class="content">
        <h2>Добро пожаловать в наш каталог продуктов!</h2>
        <p>
          Здесь вы найдете широкий ассортимент товаров, удобно распределенных по
          категориям.
        </p>
        <nav>
          <% if(locals.categories) {%> 
            <ul class="product-category">
              <% categories.forEach(category => { %>
                <li><a href="#"><%= category.category_name%></a></li>
              <% })%>
            </ul>
          <% }%>
          <div class="product-search">
            <form
              action="#"
              method="get"
              class="search-form"
            >
              <input
                type="search"
                name="search"
                class="search-field"
                placeholder="Поиск по продуктам..."
              />
              <button
                type="submit"
                class="search-btn"
              >
                &#x1F50D;
              </button>
            </form>
          </div>
        </nav>
      </div>
      <div class="footer">
        <p>
          Контакты: info@example.com<br />
          Поддержка: support@example.com<br />
          Социальные сети:
          <a href="#">Telegram</a>,
          <a href="https://www.vk.com/example">ВКонтакте</a>
        </p>
      </div>
    </div>
  </body>
</html>
