<nav>
  <% if(locals.categories) {%>
    <ul class="product-category">
        <% categories.forEach(category => { %>
        <li><a href="#"><%= category.category_name%></a></li>
        <% })%>
    </ul>
  <% }%>
  <div class="product-search">
    <form
      action="#"
      method="get"
      class="search-form"
    >
      <input
        type="search"
        name="search"
        class="search-field"
        placeholder="Поиск по продуктам..."
      />
      <button
        type="submit"
        class="search-btn"
      >
        &#x1F50D;
      </button>
    </form>
  </div>
</nav>
