<nav>
  <% if(locals.categories) {%>
    <ul class="product-category">
        <% categories.forEach(category => { %>
        <li><a href="/catalogue?category_name=<%= category.category_name %>"><%= category.category_name%></a></li>
        <% })%>
    </ul>
  <% }%>
  <div class="product-search">
    <form
      action="/catalogue"
      method="get"
      class="search-form"
    >
      <input
        type="search"
        name="name"
        class="search-field"
        placeholder="Поиск по названию..."
      />
      <button
        type="submit"
        class="search-btn"
      >
        &#x1F50D;
      </button>
    </form>
  </div>
</nav>
