:root {
  --primary-color: #333; /* Основной цвет */
  --secondary-color: #555; /* Вспомогательный цвет */
  --background-color: #f4f4f4; /* Цвет фона */
  --accent-color: #ed9b00;
  --highlight-color: #ed5b00;
  --inactive-color: #ccc;
  --icon-color: #f4f4f4;
  --shadow-color: rgba(0, 0, 0, 0.1); /* Цвет тени */
  --link-color: #666; /* Цвет ссылок */
  --link-hover-color: #444; /* Цвет ссылок при наведении */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

.title-page {
  width: 80%;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0 0 10px var(--shadow-color);
  padding: 20px;
  border-radius: 10px;
}

.header {
  text-align: center;
}

.header h1 {
  color: var(--primary-color);
  font-size: 24px;
  margin-bottom: 20px;
}

.content {
  padding: 20px;
}

.content h2 {
  color: var(--secondary-color);
  font-size: 18px;
  margin-bottom: 15px;
}

.content p {
  margin-bottom: 15px;
}

.product-category {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 10px;
}

li {
  list-style: none;
  border-radius: 5px;
  background-color: var(--accent-color);
  transition: all 0.3s ease;
  padding: 10px;
}

li:hover {
  background-color: var(--highlight-color);
}

li > a {
  color: var(--background-color);
}

li:hover > a {
  color: white;
}

.product-search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-search input[type="search"] {
  width: 80%;
  padding: 10px;
  border: 1px solid var(--secondary-color);
  border-right: none;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-form {
  display: flex;
}

.search-btn {
  background-color: var(--accent-color);
  border: 1px solid var(--secondary-color);
  border-left: none;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: all 0.3s ease;
}

.search-btn:hover {
  cursor: pointer;
  background-color: var(--highlight-color);
}

.footer {
  text-align: center;
  font-size: 14px;
  color: var(--secondary-color);
  padding: 20px 0;
}

.footer p {
  margin: 0;
}

.footer a {
  color: var(--link-color);
}

.footer a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* Home section */

.home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    no-repeat center/cover url("/images/home-background.jpg");
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header,
.subheader {
  color: var(--background-color);
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.header {
  font-size: 2rem;
}

.subheader {
  font-size: 1.5rem;
}

.start-btn {
  background-color: var(--accent-color);
  color: var(--background-color);
  font-size: 1.2rem;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.start-btn:hover {
  background-color: var(--highlight-color);
}

/* Catalogue */

.groceries {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;
  background-color: #f7f7f7;
}

.grocery-card {
  position: relative;
}

.grocery-card,
.new-grocery-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.grocery-card:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.new-grocery-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--inactive-color);
}

.new-grocery-card > h3 {
  color: var(--background-color);
  transition: all 0.3s ease;
}

.new-grocery-card-btn {
  background-color: #a8a4a4;
  border: none;
  border-radius: 49%;
  width: 50px;
  height: 50px;
  box-shadow: 0 1px 3px var(--inactive-color), 0 1px 2px var(--inactive-color);
  color: var(--background-color);
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}

.new-grocery-card:hover {
  background-color: var(--highlight-color);
  cursor: pointer;
}

.new-grocery-card:hover > * {
  color: #fff;
}

.new-grocery-card:hover > .new-grocery-card-btn {
  background-color: var(--accent-color);
  box-shadow: 0 1px 3px #b74802, 0 1px 6px #b74802;
}

.card-header {
  background-color: #f5f5f5;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

a.update-btn {
  background-color: #195febf1;
}

/* Иконка кнопки редактирования товара */

.edit-pencil {
  position: relative;
  display: inline-block;
  width: 12.5px;
  height: 18px;
  vertical-align: middle;
  cursor: pointer;
}
.edit-pencil:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-2px, -3px) rotate(-45deg);
  width: 3px;
  height: 5px;
  background-color: var(--icon-color);
  box-shadow: 1px 0px 0px var(--icon-color), 2px 0px 0px var(--icon-color),
    3px 0px 0px var(--icon-color), -1px 0px 0px var(--icon-color),
    -2px 0px 0px var(--icon-color), -3px 0px 0px var(--icon-color),
    -3.3px 0px 0px var(--icon-color), 7px 0px 0px var(--icon-color);
  transition: all 300ms;
  content: "";
}
.edit-pencil:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-9px, 3px) rotate(-45deg);
  font-size: 1px;
  border: solid 3em transparent;
  border-left-width: 0;
  border-right-width: 5em;
  border-right-color: var(--icon-color);
  transition: all 300ms;
  content: "";
}

/*Иконка удаления товара*/

a.delete-btn {
  background-color: #e81e1e;
}

.delete-icon {
  position: relative;
  width: 16px;
  height: 16px;
}

.delete-icon:before,
.delete-icon:after {
  position: absolute;
  top: 0%;
  left: 40%;
  content: " ";
  height: 16px;
  width: 3px;
  background-color: var(--icon-color);
}

.delete-icon:before {
  transform: rotate(45deg);
}
.delete-icon:after {
  transform: rotate(-45deg);
}

a.small-btn {
  padding: 5px 8px;
  font-size: 12px;
}

.wrapper {
  position: absolute;
  top: -2%;
  right: 4%;
  display: flex;
  gap: 4px;
}

.grocery-name {
  font-size: 20px;
  margin-bottom: 5px;
}

.card-subheader {
  padding: 10px;
}

.grocery-brand,
.grocery-category {
  font-size: 14px;
}

.placeholder-img {
  width: 200px;
  height: 200px;
  background-color: var(--inactive-color);
  border-radius: 5px;
  display: block;
  margin: 10px auto;
}

.card-footer {
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #f5f5f5;
}

.grocery-price,
.grocery-quantity {
  font-size: 14px;
}

/* Form */

.new-grocery-form,
.update-grocery-form,
.delete-grocery-form {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--shadow-color);
  width: 50%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: var(--primary-color);
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  transition: all 0.3s ease;
}

.form-control:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 5px var(--shadow-color);
}

.btn,
.return-home-button {
  background-color: var(--accent-color);
  color: #fff;
  padding: 10px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover,
.return-home-button:hover {
  background-color: var(--highlight-color);
}

.placeholder {
  color: var(--inactive-color);
}

.form-group:last-child {
  display: flex;
  justify-content: space-between;
}

.return-home-button {
  background-color: #333;
  color: #fff;
}

.form-group:last-child > * {
  display: inline-block;
}
